body {
    background-color: #f9f9f9;
}

.lightbox {
    /* display: none; */
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.lightbox.show {
    display: block;
}

.lightbox>.background {
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: #0001;
}

.lightbox>.content {
    display: inline-block;
    min-width: 280px;
    width: 50%;
    max-width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 4px;
    background-color: #36f;
    color: #fff;
    line-height: 20px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    opacity: 0.9;
}

.btn:hover {
    opacity: 1;
}

.updated {
    /* tas pats kas form*/
    /* display: none; */
    width: 100%;
    padding: 20px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 4px 8px #0003;
}